///////////////////////////////
// FADE IN ELEMENTS
///////////////////////////////

.fade-in {
  opacity: 0;
  transition: opacity 1.25s ease;
  transition-delay: .125s;
}

///////////////////////////////
// SCROLL IN ELEMENTS
///////////////////////////////

// Generic class
.scroll-in {
  opacity: 0;
  transition: all 1.25s ease;
}

// Horizontal scroll in
.scroll-in#header-title-container, .scroll-in#about-title-container, .scroll-in#gallery-title-container,  {
  transform: translateX(-50px);
}

.in-view#header-title-container, .in-view#about-title-container, .in-view#gallery-title-container {
  opacity: 1;
  transform: translateX(0px);
  transition-delay: .15s;
}

// Vertical scroll in
.scroll-in.thumbnail, .scroll-in#contact-title, .scroll-in#contact-form {
  transform: translateY(100px);
}

.in-view.thumbnail, .in-view#contact-title, .in-view#contact-form {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .1s;
}

.in-view#contact-title {
  transition-delay: .125s;
}

.in-view#contact-form {
  transition-delay: .225s;
}
