/****************************************
Variables
****************************************/

// Fonts
$fontHeader: 'Playfair Display', serif;
$fontCopy: 'Open Sans', sans-serif;

// Colors
$colorPrimary: #530676;
$colorForm: #a9a9a9;

/****************************************
Contact
****************************************/

#section-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  background-image: url("../img/core/fabric-texture.png");
  background-repeat: repeat;
  background-size: 150px;
  box-shadow: inset 0px -80px 130px 5px rgba(10, 10, 10, 0.175);
}

#section-contact h2, #section-contact p, #section-contact form, #contact-title h4 {
  text-align: center;
}

#contact-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contact-title h4 {
  padding: 0 40%;
  font-weight: lighter;
  color: #333;
}

#contact-logo {
  display: flex;
  justify-content: center;
  height: 280px;

}

#contact-logo img {
  width: 310px;
  height: 310px;
  position: relative;
  top: -65px;
}

/****************************************
Contact Form
****************************************/

#contact-form {
  display: flex;
  justify-content: center;
}

form {
  width: 440px;
  margin-top: 50px;
}

form label {
  margin-bottom: 7px;
  text-align: left;
  display: block;
  font-family: $fontCopy;
  font-size: 11px;
}

input, select, textarea {
  outline-color: lighten($colorPrimary, 25);
  transition: box-shadow .15s ease;
}

input, select {
  margin-bottom: 25px;
  height: 38px;
  padding-left: 10px;
}

// input:hover, textarea:hover, select:hover {
//   box-shadow: inset 0px 0px 0px .5px rgba(0, 0, 0, .4);
// }

select:hover {
  cursor: pointer;
}

#form-name {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

#form-name input {
  width: 200px;
}

#form-email input, #form-phone input, #form-dropdown select {
  width: 430px;
}

#form-dropdown select {
  width: 440px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
}

#form-select-arrows {
  position: absolute;
  padding-right: 10px;
  height: 38px;
  width: 430px;
  margin-top: -3.85em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  z-index: -1;
}

#form-select-arrows i {
  font-size: .75em;
  color: black;
}

#form-message textarea {
  width: 430px;
  height: 150px;
  padding: 10px 0 0 10px;
}

select option {
  -webkit-appearance: none;
}

.form-row {
}

.form-column {
  display: inline-block;
}

form button, #submit {
  margin-top: 40px;
  padding: 0;
  width: 120px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
  color: black;
  letter-spacing: 1.5px;
  transition: background-color .15s linear, color .15s ease;
}

form button:hover, #submit:hover {
  color: white;
  background-color: $colorPrimary;
  border: 1px solid $colorPrimary;
}
