/***********************************************************
Wide Desktop View
***********************************************************/

@media (min-width: 1450px) {

  header {
    height: 940px;
  }

}


/***********************************************************
Medium Desktop View (temporary fix for title on main image)
***********************************************************/

@media (max-width: 1260px) {

  #header-title-container {
    min-width: 200px;
    left: 700px;
  }

  body {
    min-width: 980px;
  }

}

/***********************************************************
Tablet View
***********************************************************/

/*@media only screen and (max-device-width: 768px) {

  #photo-gallery div {
    width: 40%;
    margin: 2%;
    padding-bottom: 40%;
  }

}*/

/***********************************************************
Mobile View
***********************************************************/

@media (max-device-width: 480px), (max-width: 1020px) {

  * {
    /*border: 1px solid red;*/
  }

  body {
    min-width: 480px;
    width: 100%;
  }

  /**************************
  Header
  **************************/

  header {
    height: 29em;
  }

  nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding: 0px 5%;
    background-color: white;
    z-index: -1;
  }

  /* Logo */
  #logo {
    display: flex;
    align-items: center;
  }

  #logo-mm {
    display: none;
  }

  #logo-circle {
    position: absolute;
    left: -4em;
    top: -3.2em;
    width: 9em;
    height: 9em;
    border-radius: 360px;
    background-color: black;
    border: 1px solid black;
    opacity: 1;
  }

  #logo-mm-mobile {
    display: inline-block;
    position: relative;
    top: 3.65em;
    left: 3.8em;
    width: 44%;
    height: 20%;
  }

  #logo-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-left: 5em;
    top: .4em;
    width: 1em;
    font-size: 1.15em;
    letter-spacing: .025em;
    line-height: .85em;
    color: black;
  }

  /* Nav options */
  #nav-options {
    width: 6.5em;
  }

  #nav-options ul {
    top: 0;
  }

  #nav-about, #nav-gallery {
    display: none !important;
  }

  #nav-contact {
    width: 6.75em;
    position: relative;
    border: 1px solid black;
  }

  #nav-contact span {
    color: black;
  }

  #nav-contact:hover {
    background-color: black;
    cursor: pointer;
  }

  #nav-contact:hover span {
    color: white;
  }

  /* Header title */
  #header-title-container {
    top: 9.25em;
    left: 3em;
    display: block;
    z-index: 2;
  }

  #scroll-to-about {
    display: none;
  }

  #header-background-image {
    top: 0;
    background-image: url("../img/core/about-image.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }

  /**************************
  About
  **************************/

  #section-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 35em;
    flex-direction: column;
    background-image: url("../img/core/fabric-texture.png");
    background-repeat: repeat;
    background-size: 150px;
    box-shadow: none;
  }

  #profile-photo {
    display: block;
    position: relative;
    width: 220px;
    height: 220px;
    border: 7px solid white;
    transform: rotate(-4deg);
    box-shadow: 0px 8px 50px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  #scroll-to-gallery {
    display: none;
  }

  #about-title-container, #about-title h2, #about-title p, #about-title ul li {
    color: black;
    text-shadow: none;
    list-style: none;
  }

  .in-view#about-title-container {
    transform: translateX(0px);
  }

  #about-title-container {
    width: 80%;
    padding: 5%;
    margin: 3% 0%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #about-title-container h2 {
    margin-bottom: .5em;
  }

  /**************************
  Gallery
  **************************/

  #section-gallery {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }

  /* Title */
  #gallery-title-container {
    padding: 0;
    margin-bottom: 3em;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #gallery-title h2 {
    margin-bottom: .5em;
  }

  #gallery-title p {
    width: 80%;
    margin: 0% 10%;
  }

  #scroll-to-contact {
    display: none;
  }

  #gallery-mm {
    margin: 0;
    display: flex;
    align-self: center;
    left: 10em;
    top: -4.75em;
    width: 20em;
    opacity: 0.225;
  }

  /* Full image */
  #full-image {
    display: none;
  }

  /* Photo Gallery */
  #photo-gallery {
    width: 95%;
    margin: 2.5% 0%;
  }

  .thumbnail {
    width: 13em;
    height: 13em;
    margin: .6em;
  }

  /**************************
  Information
  **************************/

  #section-information {
    height: 25em;
  }

  #information-border {

  }

  /**************************
  Contact
  **************************/

  #section-contact {
    padding-bottom: 3em;

  }

  #contact-logo {
    height: 12em;
    margin-bottom: 3em;
  }

  #contact-logo img {
    height: 16em;
    width: 16em;
  }

  #contact-title {

  }

  #contact-title h2 {

  }

  #contact-title h4 {

  }

  #contact-form {

  }

  /**************************
  Footer
  **************************/

  footer {
    width: 100%;
    height: 13em;
    padding: 0% 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .footer-column-left, .footer-column-right {
    width: 100%;
  }

  .footer-column-left {
    position: relative;
    top: 5em;
  }

  .footer-column-right {
    position: relative;
    top: -2.5em;
    justify-content: center;
  }

  #scroll-to-top:hover, #footer-about:hover, #footer-gallery:hover {
    transform: scale(1.2);
    background-color: transparent;
  }

}
