/****************************************
Variables
****************************************/
/****************************************
About
****************************************/
#section-about {
  width: 100%;
  height: 800px;
  background-image: url("../img/core/about-image.jpg");
  background-size: cover;
  background-position: center left;
  box-shadow: inset 0px 80px 130px 5px rgba(10, 10, 10, 0.3); }

#about-title-container {
  position: relative;
  width: 360px;
  top: 120px;
  left: 10%;
  color: white; }

#header-title, #about-title {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

#about-title h2 {
  color: white; }

/****************************************
Gallery
****************************************/
#section-gallery {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  background-image: url("../img/core/fabric-texture.png");
  background-repeat: repeat;
  background-size: 150px;
  box-shadow: inset 0px 80px 130px 5px rgba(10, 10, 10, 0.2); }

#gallery-title-container {
  width: 360px;
  padding: 80px 0 0 20%; }

#gallery-mm {
  position: absolute;
  margin: -40px 0px 0px -250px;
  width: 300px;
  opacity: 0.3;
  background-blend-mode: lighten;
  z-index: 0; }

#photo-gallery {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#photo-gallery div {
  width: 22%;
  padding-bottom: 22%;
  margin: 1%;
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 12px 0px rgba(10, 10, 10, 0.3);
  transition: all .15s ease;
  cursor: pointer; }

#photo-gallery div:hover {
  transform: translateY(-7px);
  box-shadow: 0px 5px 12px 0px rgba(10, 10, 10, 0.3), inset 0 0 100px 100px rgba(255, 255, 255, 0.075); }

#image-1 {
  background-image: url("../img/gallery/img-5028.jpg"); }

#image-2 {
  background-image: url("../img/gallery/img-5414.jpg"); }

#image-3 {
  background-image: url("../img/gallery/img-8185.jpg"); }

#image-4 {
  background-image: url("../img/gallery/img-9513.jpg"); }

/****************************************
Information
****************************************/
#section-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  box-shadow: inset 0px 0px 900px 100px rgba(255, 255, 255, 0.25);
  background-image: url("../img/gallery/img-9532.jpg");
  background-size: cover; }

#information-border {
  width: 93%;
  height: 90%;
  border: 1px solid white; }

/****************************************
Contact
****************************************/
#section-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  background-image: url("../img/core/fabric-texture.png");
  background-repeat: repeat;
  background-size: 150px;
  box-shadow: inset 0px -80px 130px 5px rgba(10, 10, 10, 0.175); }

#section-contact h2, #section-contact p, #section-contact form, #contact-title h4 {
  text-align: center; }

#contact-title {
  display: flex;
  justify-content: center;
  flex-direction: column; }

#contact-title h4 {
  padding: 0 40%;
  font-weight: lighter;
  color: #333; }

#contact-logo {
  display: flex;
  justify-content: center;
  height: 280px; }

#contact-logo img {
  width: 310px;
  height: 310px;
  position: relative;
  top: -65px; }

/****************************************
Contact Form
****************************************/
#contact-form {
  display: flex;
  justify-content: center; }

form {
  width: 440px;
  margin-top: 50px; }

form label {
  margin-bottom: 7px;
  text-align: left;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 11px; }

form input {
  margin-bottom: 30px;
  height: 38px;
  padding-left: 10px; }

#form-name {
  width: 440px;
  display: flex;
  justify-content: space-between; }

#form-name input {
  width: 200px; }

#form-email input, #form-phone input {
  width: 430px; }

#form-message textarea {
  width: 430px;
  height: 150px;
  padding: 10px 0 0 10px; }

.form-column {
  display: inline-block; }

form button {
  margin-top: 40px;
  width: 120px;
  height: 50px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  letter-spacing: 1.5px;
  transition: background-color .15s linear, color .15s ease; }

form button:hover {
  cursor: pointer;
  color: white;
  background-color: #530676;
  border: 1px solid #530676; }

/*# sourceMappingURL=section-styles.css.map */
